.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
}

.desc {
    display: block;
    text-align: center;
    margin-top: 2vh;
}

.desc p {
    font-size: 100%;
}

.playButton {
    margin-top: 7%;
    color: white;
    width: 50%;
}

footer {
    position: absolute;
    bottom: 0;
}    

@media only screen and (min-width: 600px) {
    .desc {
        margin-top: 6%;
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 150%;
    }

    .desc {
        font-size: 100%;
        margin-top:2vw;
    }

    .playButton {
        width: 100%;
    }
  }
