.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
}

.desc {
    display: block;
    text-align: center;
    margin-top: 2vh;
}

.desc p {
    font-size: 50%;
}

.playButton {
    color: white;
    width: 50%;
}

@media only screen and (min-width: 600px) {
    .desc {
        padding-left: 300px;
        padding-right: 300px;
    }    
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 300%;
    }

    .desc {
        font-size: 100%;
        margin-top:2vw;
    }

    .playButton {
        width: 100%;
    }
  }
