body {
    font-family: "Source Sans Pro";
    font-size: 17pt;
    letter-spacing: 0.025em;
    background-color:#242943;
}
hr {
    border-color: white;
}
#top {
    background-color: #242943;
}
#top a {
    display: inline;
}

#top h4 {
    display: inline;
    letter-spacing: 0.2em;
    margin: 1vh;

    padding: 3px;
    color:  #242943;
}

#top .menu {
    color: white;
}

.email a,.email p {
    letter-spacing: 0.2em;
}

.email a {
    margin-top: 4vh;
    margin-left: 5vh;
}

.email p {
    margin-bottom:4vh;
    margin-left: 10vh;
}

@media only screen and (max-width: 600px) {
    .email p {
        margin-bottom:4vh;
        margin-left: 5vh;
        letter-spacing: 0em;
    }
    
    .email a {
        margin-top: 4vh;
        margin-left: 2vh;
    }
  }